.entry {
  &:nth-child(3n + 1) {
    transform: translate(0px, 100px);
    opacity: 0;
    transition: all 1s ease;
  }
  &:nth-child(3n + 2) {
    transform: translate(0px, 120px);
    opacity: 0;
    transition: all 1.2s ease;
  }
  &:nth-child(3n + 3) {
    transform: translate(0px, 150px);
    opacity: 0;
    transition: all 1.4s ease;
  }
  &.animate {
    transform: translate(0px, 0);
    opacity: 1;
  }
}

.juridical {
  &__item {
    &::before {
      animation: line 0.3s linear;
    }
  }
}

@keyframes line {
  0% {
    width: 0px;
  }
  100% {
    width: 120px;
  }
}

.form {
  &__submit {
    transition: transform 0.3s ease;
    &:hover {
      transform: translate(30px, 0);
    }
  }
}

.btn {
  transition: color 0.3s ease;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background: #0a2783;
    transition: width 0.5s ease;
  }
  & span {
    &::before {
      transition: all 0.3s ease;
    }
  }
  &:hover {
    color: #ffffff;
    &::before {
      width: 100%;
    }
    & span {
      &::before {
        filter: brightness(0) invert(1);
        right: -15px;
      }
    }
  }
}

.footer {
  &__button {
    transition: color 0.3s ease;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0%;
      background: #ffffff;
      transition: width 0.5s ease;
    }
    & span {
      &::before {
        transition: all 0.3s ease;
      }
    }
    &:hover {
      color: #0a2783;
      &::before {
        width: 100%;
      }
      & span {
        &::before {
          background: url("../img/icon/icon-arrow-footer-2.svg") no-repeat;
          right: -10px;
        }
      }
    }
  }

  &__social {
    & svg {
      & path {
        transition: all 0.3s ease;
      }
    }
    & a {
      &:hover {
        & svg {
          & path {
            fill-opacity: 1 !important;
          }
        }
      }
    }
  }
}
