//////////////////////////////////////*МЕДИАЗАПРОСЫ*///////////////////////////////////////////////////////////////////////////////
@media (max-width: 1880px) {
  .container {
    max-width: 1420px;
  }

  .title {
    font-size: 36px;
  }

  .btn {
    padding: 23px 0 23px 0;
    width: 315px;
    font-size: 18px;
    & span {
      padding-right: 34px;
      &::before {
        background: url("../img/icon/btn-arrow.svg") no-repeat 100% / 75%;
      }
    }
  }

  .header {
    padding: 20px 0;
    font-size: 15px;
    &__item {
      margin-right: 49px;
    }
    &__logo {
      & img {
        max-width: 261px;
      }
    }
    &__phone {
      margin-right: 24px;
    }

    &__lang {
      margin-right: 24px;
    }
  }

  //========================================================ОСНОВНОЙ КОНТЕНТ СТРАНИЦЫ 1========================================================
  .juridical {
    background: url("../img/image-1.png") no-repeat 100% 34% / 48%, #f5faff;
    padding: 68px 0 184px 0;
    &.scrolled {
      margin-top: 108px;
    }
    &__title {
      margin-bottom: 90px;
    }
    &__column {
      max-width: 640px;
      margin: 0 -24px;
    }
    &__item {
      padding: 19px 24px 0 19px;
      font-size: 21px;
      &:first-child {
        margin-bottom: 56px;
      }
      &:nth-child(2) {
        margin-bottom: 56px;
      }
      &::before {
        width: 90px;
        left: 19px;
      }
    }
  }

  .trust {
    &__title {
      margin-bottom: 45px;
    }
    padding: 68px 0;
    background: url("../img/dots.svg") no-repeat 100% 7% / 43%;
  }

  .services {
    &__title {
      margin-bottom: 45px;
    }
    &__column {
      margin: 0 -11px 23px -11px;
    }
    &__wrap {
      padding: 0 11px;
      margin-bottom: 23px;
      min-height: 360px;
    }
    &__item {
      padding: 23px 23px 23px 45px;
    }
    &__group {
      margin-bottom: 23px;
    }
    &__logo {
      margin-right: 19px;
      & svg {
        width: 45px;
        height: 45px;
      }
    }
    &__name {
      font-size: 22px;
    }
    &__text {
      max-width: 330px;
      padding-left: 23px;
      font-size: 14px;
      margin-bottom: 15px;
      &::before {
        top: 8px;
        width: 11px;
      }
    }
    padding: 23px 0 49px 0;
    background: url("../img/dots.svg") no-repeat 100% 0% / 43%, url("../img/dots-rewers.svg") no-repeat 0% 95% / 35%;
  }

  .publish {
    &__title {
      margin-bottom: 45px;
    }

    padding: 68px 0;
    background: url("../img/dots-publish-horizontal.svg") no-repeat 100% 17% / 43%, #f5faff;
  }
  .tabs {
    &__control {
      margin-bottom: 45px;
    }

    &__button {
      font-size: 18px;
      width: 227px;
      padding: 24px 0;
      margin-left: -1px;
      &.active {
        font-size: 18px;
      }
    }

    &__wrap {
      margin-bottom: 45px;
    }
  }
  .publication-1 {
    padding: 0px 8px 34px 23px;
    height: 214px;
    &__date {
      font-size: 14px;
      margin-bottom: 8px;
    }
    &__name {
      font-size: 18px;
    }
    &__group {
      z-index: 10;
    }
  }

  .publication-2 {
    height: 214px;
    &__name {
      font-size: 27px;
      margin-bottom: 23px;
    }
    &__text {
      font-size: 18px;
    }
    &__discription {
      padding-right: 23px;
    }

    video {
      max-height: 450px;
    }
    &__video-prev {
      & span {
        width: 75px;
        height: 75px;
        background: url("../img/icon/icon-play-video.svg") no-repeat 72% 50% / 43px 43px;
      }
      &::before {
        background: url("../img/dots-publish.svg") no-repeat 30px 20px / 40px 117px, rgba(4%, 14%, 51%, 0.7);
      }
    }
  }

  .tabs__item:first-child {
    & .tabs__wrap {
      grid-template-rows: 214px 214px;
      gap: 23px;

      & .publication-1 {
        &:nth-child(1) {
          .publication-1__name {
            font-size: 27px;
          }
          &::before {
            background: url("../img/dots-publish.svg") no-repeat 23px 15px / 13%, rgba(4%, 14%, 51%, 0.7);
          }
          &:hover {
            &::before {
              background: url("../img/dots-publish.svg") no-repeat 30px 20px, rgba(4%, 14%, 51%, 1);
            }
          }
        }
      }
    }
  }
  .tabs__item:nth-child(2) {
    & .tabs__wrap {
      grid-template-rows: 214px 214px;
      gap: 23px;

      & .publication-2 {
        &:nth-child(1) {
          & .publication-2__video-prev {
            & span {
              width: 110px;
              height: 110px;
              background: url("../img/icon/icon-play-video.svg") no-repeat 72% 50% / 70px;
            }
            &::before {
              background: url("../img/dots-publish.svg") no-repeat 30px 20px / 12%, rgba(4%, 14%, 51%, 0.7);
            }
          }
        }
      }
    }
  }
  .tabs__item:nth-child(3) {
    & .tabs__wrap {
      grid-template-rows: 214px 214px;
      gap: 23px;
    }
  }

  .reviews {
    &__title {
      margin-bottom: 45px;
    }
  }
  .slider-1 {
    margin-bottom: 23px;
    &__slide {
      padding: 41px 0 45px 0;
      background: url("../img/dots-slider.svg") no-repeat 2% 10% / 14%, url("../img/dots-slider.svg") no-repeat 98% 90% / 14%, #ffffff;
    }
    &__post {
      margin-bottom: 11px;
      font-size: 18px;
    }

    &__firm {
      margin-bottom: 23px;
      font-size: 27px;
    }

    &__coment {
      max-width: 825px;
      font-size: 18px;
    }
  }
  .slider-2 {
    padding: 53px 0 68px 0;
    &::before {
      content: "";
      width: 26px;
      height: 12px;
      border: 20px solid transparent;
      border-top: 20px solid #0a2783;
    }
    &__slide {
      & img {
        max-width: 220px;
        max-height: 120px;
      }
    }
  }
  .reviews__slider-1 .slick-arrow,
  .mass-media__slider .slick-arrow {
    background: url("../img/icon/icon-arrow-slider.svg") no-repeat 100% / 75%;
    width: 17px;
    height: 32px;
  }

  .mass-media {
    padding: 68px 0;
    &__title {
      margin-bottom: 60px;
    }
    &__slide img {
      max-width: 210px;
      object-fit: contain;
      height: 90px;
    }
  }

  .message {
    &__title {
      margin-bottom: 45px;
      max-width: 870px;
    }
    &__column {
      max-width: 544px;
    }
    padding: 68px 0;
    background: url("../img/message-bg.svg") no-repeat 100% 86% / 48%, url("../img/dots-message.svg") no-repeat 100% 10% / 30%;
  }

  .form {
    & input:not([type="submit"]),
    textarea {
      font-size: 18px;
    }
    &__group {
      margin-bottom: 23px;
    }
    &__name {
      padding: 23px;
      margin-right: 23px;
    }

    &__email {
      padding: 23px;
    }

    &__phone {
      padding: 23px;
      margin-bottom: 23px;
    }

    &__letter {
      padding: 23px;
      margin-bottom: 23px;
      min-height: 135px;
    }

    &__submit {
      max-width: 315px;
      padding: 23px 0;
      font-size: 18px;
      margin-bottom: 15px;
    }

    &__sub {
      max-width: 338px;
      font-size: 11px;
    }
  }

  .footer {
    padding: 45px 0;
    background: url("../img/dots-footer.svg") no-repeat 0% 80% / 20%, #0a2783;
    &__row {
      &:first-child {
        margin-bottom: 45px;
      }
      &:last-child {
        .footer__column {
          flex: 0 1 953px;
        }
      }
    }

    &__column {
      &:nth-child(2) {
        flex: 0 1 953px;
      }
    }

    &__logo {
      margin-bottom: 23px;
    }

    &__social {
      & a {
        margin-right: 23px;
      }
    }

    &__name {
      font-size: 14px;
      margin-bottom: 23px;
    }

    &__item {
      margin-bottom: 23px;
      font-size: 14px;
    }

    &__info {
      margin-right: 68px;
    }
    &__addition {
      margin-right: 68px;
    }

    &__contact {
      margin-right: 79px;
      flex: 0 1 210px;
    }

    &__subscribe {
      flex: 0 1 266px;
    }

    &__form {
      input[type="email"] {
        max-width: 213px;
        padding: 14px 14px 14px 23px;
        margin-bottom: 11px;
        font-size: 14px;
      }
    }
    &__button {
      margin-bottom: 23px;
      font-size: 14px;
      padding: 13px 0 11px 0;
      max-width: 213px;
      & span {
        padding-right: 38px;
        &::before {
          width: 31px;
          height: 16px;
          background: url("../img/icon/icon-arrow-footer.svg") no-repeat 100% / 75%;
        }
      }
    }

    &__sub {
      font-size: 11px;
    }

    &__poilicy {
      margin-right: 68px;
      & a {
        font-size: 14px;
      }
    }
  }

  //========================================================ОСНОВНОЙ КОНТЕНТ СТРАНИЦЫ НОВОСТЕЙ========================================================
  .news {
    padding: 68px 0;
    background: url("../img/dots-news.svg") no-repeat 100% 1.5% / 20%;
    &.scrolled {
      margin-top: 108px;
    }
    &__row {
      &:first-child {
        margin-bottom: 45px;
      }
    }

    &__title {
      margin-bottom: 45px;
    }

    &__column {
      gap: 23px;
      grid-template-columns: repeat(auto-fit, minmax(263px, 1fr));
    }
  }
  .entry {
    &:first-child {
      .entry__image {
        height: 525px;
      }
    }
    &:nth-child(8) {
      .entry__image {
        height: 525px;
      }
    }

    &__item {
      min-height: 300px;
    }

    &__image {
      height: 150px;
    }

    &__group {
      padding: 23px 23px 23px 23px;
    }

    &__data {
      font-size: 12px;
      margin-bottom: 11px;
    }

    &__name {
      font-size: 14px;
      margin-bottom: 23px;
    }

    &__discription {
      font-size: 11px;
      margin-bottom: 15px;
    }

    &__btn {
      & span {
        padding-right: 26px;
        font-size: 14px;
        &::before {
          background: url("../img/icon/btn-arrow.svg") no-repeat 100% / 55%;
        }
      }
    }
  }

  .pagination {
    & ul {
      margin: 0 -23px;
      & li {
        padding: 0 23px;
      }
    }
    &__page-num {
      font-size: 21px;
    }
    & .prev {
      width: 45px;
      height: 45px;
      & svg {
        width: 10px;
        height: 17px;
      }
    }
  }
  .item-team {
    flex: 0 1 400px;
    &__name {
      font-size: 30px;
    }
  }
}

// @media (max-width: 1700px) {
//   .container {
//     max-width: 1450px;
//   }
//   .header {
//     &__nav {
//       display: none;
//     }
//     &__burger {
//       display: block;
//     }
//   }
// }

// @media (max-width: 1500px) {
//   .container {
//     max-width: 1100px;
//   }
//   .reviews {
//     .slider-1 {
//       &__coment {
//         max-width: 800px;
//       }
//     }
//   }
// }

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
