.news {
    padding: 90px 0;
    background: url("../img/dots-news.svg") no-repeat 100% 2%;
    &.scrolled {
        margin-top: 141px;
    }
    &__row {
        &:first-child {
            margin-bottom: 60px;
        }
    }

    &__title {
        color: #0a2783;
        margin-bottom: 60px;
    }

    &__column {
        display: flex;
        flex-wrap: wrap;
        margin: -15px -15px;
    }

    &__wrap {
        display: flex;
        flex: 0 1 33.333%;
        padding: 15px 15px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        min-height: 800px;
        border: 5px solid #f0f6fb;
    }

    &__image {
        height: 300px;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__group {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        padding: 30px 30px 60px 30px;
    }

    &__data {
        @include font-param("Gordita-Medium", 24px, #000000, 500, 120%);
        margin-bottom: 15px;
    }

    &__name {
        @include font-param("Gordita-Medium", 28px, #000000, 500, 140%);
        margin-bottom: 30px;
    }

    &__discription {
        @include font-param("Gordita-Regular", 18px, #000000, 400, 140%);
        margin-bottom: 20px;
    }

    &__btn {
        @extend .support__btn;
    }

    &__pagination {
        display: flex;
        justify-content: center;
        & ul {
            display: flex;
            align-items: center;
            margin: 0 -30px;
            & li {
                padding: 0 30px;
            }
        }
        & .prev {
            display: block;
            position: relative;
            background: #0a2783;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            & svg {
                top: 50%;
                left: 45%;
                transform: translate(-50%, -50%);
                position: absolute;
            }
            &:hover {
                cursor: pointer;
            }
        }
        & .next {
            @extend .prev;
            & svg {
                left: 55%;
                transform: translate(-50%, -50%) rotate(180deg);
            }
        }
    }

    &__page-num {
        @include font-param("Gordita-Medium", 28px, rgba(0, 0, 0, 0.5), 500, 140%);
        &.current {
            color: #0a2783;
        }
    }
}
