.contact {
    padding: 90px 0 0 0;
    background: url("../img/dots-news.svg") no-repeat 100% 40px;
    &.scrolled {
        margin-top: 141px;
    }
    &__row {
        &:first-child {
            margin-bottom: 60px;
        }
    }

    &__title {
        color: #0a2783;
        margin-bottom: 60px;
    }

    &__column {
        display: flex;
    }

    &__item {
        &:nth-child(1) {
            flex: 0 1 340px;
            margin-right: 100px;
        }
        &:nth-child(2) {
            flex: 0 1 300px;
            margin-right: 150px;
        }
        &:nth-child(3) {
            flex: 0 1 770px;
        }
    }

    &__text {
        margin-bottom: 15px;
        @include font-param("Gordita-Medium", 28px, #000000, 500, 140%);
        & span {
            font-family: "Gordita-Regular";
        }
        & a {
            color: inherit;
        }
    }

    &__map {
        width: 100%;
        height: 800px;
    }
}
