@font-face {
  font-family: "Gordita-Bold";
  src: url("../fonts/Gordita-Bold.eot");
  src: local("Gordita-Bold"), url("../fonts/Gordita-Bold.woff") format("woff"),
    url("../fonts/Gordita-Bold.ttf") format("truetype"),
    url("../fonts/Gordita-Bold.svg") format("svg");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "Gordita-Medium";
  src: url("../fonts/Gordita-Medium.eot");
  src: local("Gordita-Medium"),
    url("../fonts/Gordita-Medium.woff") format("woff"),
    url("../fonts/Gordita-Medium.ttf") format("truetype"),
    url("../fonts/Gordita-Medium.svg") format("svg");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "Gordita-Regular";
  src: url("../fonts/Gordita-Regular.eot");
  src: local("Gordita-Regular"),
    url("../fonts/Gordita-Regular.woff") format("woff"),
    url("../fonts/Gordita-Regular.ttf") format("truetype"),
    url("../fonts/Gordita-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

///////////////////////////////////////////////////АДАПТИВ ШРИФТОВ////////////////////////////////////////////////

$maxWidth: 1800; /*ШИРИНА МАКЕТА*/

@mixin adaptiv-font($pcSize, $mobSize) {
  /*pcSize - МАКЕТНЫЙ РАЗМЕР ШРИФТА*/ /*МИНИМАЛЬНЫЙ РАЗМЕР ШРИФТА*/
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(
    #{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})
  );
}

////////////////////////////////////////////////СТИЛИ ШРИФТОВ////////////////////////////////////////////////////

@mixin font-param($family, $size, $color, $weight, $line) {
  font-family: $family;
  font-size: $size;
  color: $color;
  font-weight: $weight;
  line-height: $line;
}

//////////////////////////////////////////////////ОБНУЛЕНИЕ///////////////////////////////////////////////////////

@import "_nullstyle";

//////////////////////////////////////////////////ОБШИЕ СТИЛИ///////////////////////////////////////////////////////

@import "_overall-style.scss";

///////////////////////////////////////////ШАПКА САЙТА////////////////////////////////////////////////////////////

@import "_header";

///////////////////////////////////////////////ОСНОВНОЙ КОНТЕНТ////////////////////////////////////////////////////

//============БЛОК-1==========
.juridical {
  &.scrolled {
    margin-top: 141px;
  }
  position: relative;
  padding: 90px 0 245px 0;
  background-color: #f5faff;

  &__title {
    max-width: 650px;
    margin-bottom: 120px;
    & span {
      color: #0a2783;
    }
  }

  &__column {
    display: flex;
    flex-wrap: wrap;
    max-width: 870px;
    margin: 0 -32.5px;
  }

  &__item {
    padding: 25px 32.5px 0 32.5px;
    position: relative;
    flex: 1 1 0%;
    @include font-param("Gordita-Medium", 28px, #000000, 500, 120%);
    &:first-child {
      margin-bottom: 75px;
    }
    &:nth-child(2) {
      margin-bottom: 75px;
    }
    &::before {
      content: "";
      position: absolute;
      width: 120px;
      height: 5px;
      top: 0;
      left: 32.5px;
      background-color: #0a2783;
    }
  }

  &__image {
    position: absolute;
    display: block;
    top: 50%;
    left: 54%;
    transform: translate(0px, -50%);
    & img {
      max-width: 100%;
    }
  }
}

//==================БЛОК-2========
.trust {
  background: url("../img/dots.svg") no-repeat 100% 11%;
  padding: 90px 0;

  &__title {
    color: #0a2783;
    margin-bottom: 60px;
  }

  &__image {
    max-width: 100%;
  }
}

//==================БЛОК-3========

.services {
  background: url("../img/dots.svg") no-repeat 100% 1%,
    url("../img/dots-rewers.svg") no-repeat 0% 94%;
  padding: 30px 0 65px 0;
  &__title {
    color: #0a2783;
    margin-bottom: 60px;
  }

  &__column {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px 30px -15px;
  }

  &__wrap {
    display: flex;
    padding: 0 15px;
    flex: 0 1 33.333%;
    margin-bottom: 30px;
  }

  &__item {
    border: 5px solid #f0f6fb;
    padding: 30px 30px 30px 60px;
    flex-grow: 1;
    transition: all 0.3s ease;
    &:hover {
      cursor: pointer;
      background-color: #0a2783;
      border-color: #0a2783;
      .services__logo {
        & svg {
          fill: #ffffff;
          & path {
            fill: #ffffff;
          }
        }
      }
      .services__name {
        color: #ffffff;
      }
      .services__text {
        color: #ffffff;
        &::before {
          background-color: #ffffff;
        }
      }
    }
  }

  &__group {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  &__logo {
    margin-right: 25px;
    & img {
      width: 60px;
      height: 60px;
    }
  }

  &__name {
    @include font-param("Gordita-Medium", 28px, #0a2783, 500, 120%);
  }

  &__text {
    position: relative;
    max-width: 440px;
    padding-left: 30px;
    @include font-param("Gordita-Regular", 18px, #000000, 400, 120%);
    margin-bottom: 20px;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      width: 15px;
      height: 3px;
      background-color: #0a2783;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
  }
}

//==================БЛОК-4========

.publish {
  padding: 90px 0;
  background: url("../img/dots-publish-horizontal.svg") no-repeat 100% 18%,
    #f5faff;

  &__title {
    color: #0a2783;
    margin-bottom: 60px;
  }

  &__button {
    display: flex;
    justify-content: center;
  }
}
.tabs {
  &__control {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 60px;
  }

  &__button {
    @include font-param(
      "Gordita-Regular",
      24px,
      rgba(10, 39, 131, 0.5),
      400,
      120%
    );
    width: 290px;
    text-align: center;
    padding: 32px 0;
    border: 2px solid #7f90c1;
    margin-left: -1px;
    &.active {
      @include font-param("Gordita-Medium", 24px, #ffffff, 500, 120%);
      background: #0a2783;
      border: none;
    }
  }

  &__item {
    display: none;
    &.active {
      display: block;
    }
  }

  &__wrap {
    margin-bottom: 60px;
  }

  .publication {
    position: relative;
    padding: 0px 10px 45px 30px;
    display: flex;
    align-items: flex-end;
    &__text {
      @include font-param("Gordita-Regular", 24px, #0a2783, 400, 120%);
    }
    &__date {
      @include font-param("Gordita-Regular", 18px, #ffffff, 400, 120%);
    }

    &__name {
      @include font-param("Gordita-Medium", 24px, #ffffff, 500, 120%);
    }
    &__image {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      max-width: 100%;
    }

    &__discription {
      display: none;
      padding-right: 30px;
    }

    video {
      // flex: 1 1 auto;
      max-width: 99.9%;
      max-height: 600px;
      background-color: rgba(4%, 14%, 51%, 0.7);
    }
    &__video {
      display: flex;
      // flex: 1 1 auto;
      width: 100%;
      position: relative;
      min-height: 100%;
    }
    &__video-prev {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      & span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 110px;
        height: 110px;
        background: url("../img/icon/icon-play-video.svg") no-repeat 72% 50%;
        border-radius: 50%;
        transition: all 0.3s ease;
      }
      &:hover {
        & span {
          box-shadow: 0 0 5px 5px #ffffff;
        }
      }
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url("../img/dots-publish.svg") no-repeat 30px 20px,
          rgba(4%, 14%, 51%, 0.7);
        transition: all 0.3s ease;
      }
    }
  }

  &__item:first-child {
    & .tabs__wrap {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
      grid-template-rows: 285px 285px;
      gap: 30px;
      grid-template-areas:
        "clo1 clo2 clo3"
        "clo1 clo4 clo5";
      & .publication {
        position: relative;
        &__group {
          z-index: 10;
        }
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: rgba(4%, 14%, 51%, 0.7);
          transition: all 0.3s ease;
        }
        &:hover {
          &::before {
            background: rgba(4%, 14%, 51%, 1);
          }
        }
        &:nth-child(1) {
          grid-area: clo1;
          .publication__name {
            font-size: 36px;
          }
          &::before {
            background: url("../img/dots-publish.svg") no-repeat 30px 20px,
              rgba(4%, 14%, 51%, 0.7);
          }
          &:hover {
            &::before {
              background: url("../img/dots-publish.svg") no-repeat 30px 20px,
                rgba(4%, 14%, 51%, 1);
            }
          }
        }
        &:nth-child(2) {
          grid-area: clo2;
        }
        &:nth-child(3) {
          grid-area: clo3;
        }
        &:nth-child(4) {
          grid-area: clo4;
        }
        &:nth-child(5) {
          grid-area: clo5;
        }
      }
    }
  }

  &__item:nth-child(2) {
    & .tabs__wrap {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
      grid-template-rows: 285px 285px;
      gap: 30px;
      grid-template-areas:
        "clo1 clo4 clo4"
        "clo1 clo2 clo3";

      & .publication {
        // justify-content: flex-end;
        padding: 0;

        &:nth-child(1) {
          grid-area: clo1;
        }

        &:nth-child(2) {
          grid-area: clo2;
          & .publication__video-prev {
            & span {
              width: 75px;
              height: 75px;
              background: url("../img/icon/icon-play-video.svg") no-repeat 72%
                50% / 43px 43px;
            }
            &::before {
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              background: url("../img/dots-publish.svg") no-repeat 30px 20px /
                  54px 156px,
                rgba(4%, 14%, 51%, 0.7);
              transition: all 0.3s ease;
            }
          }
        }

        &:nth-child(3) {
          grid-area: clo3;
          & .publication__video-prev {
            & span {
              width: 75px;
              height: 75px;
              background: url("../img/icon/icon-play-video.svg") no-repeat 72%
                50% / 43px 43px;
            }
            &::before {
              background: url("../img/dots-publish.svg") no-repeat 30px 20px /
                  54px 156px,
                rgba(4%, 14%, 51%, 0.7);
            }
          }
        }

        &:nth-child(4) {
          // align-items: flex-start;
          grid-area: clo4;
          .publication__discription {
            display: block;
          }
        }

        &__name {
          color: #0a2783;
          font-size: 36px;
          margin-bottom: 30px;
        }
      }
    }
  }

  &__item:nth-child(3) {
    & .tabs__wrap {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 285px 285px;
      gap: 30px;

      & .publication {
        &__group {
          z-index: 10;
        }
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: rgba(4%, 14%, 51%, 0.7);
          transition: all 0.3s ease;
        }
        &:hover {
          &::before {
            background: rgba(4%, 14%, 51%, 1);
          }
        }
      }
    }
  }
}

//====================================БЛОК-5=======================

.reviews {
  background: #f5faff;

  &__title {
    color: #0a2783;
    margin-bottom: 60px;
  }
}
.slider-1 {
  position: relative;
  margin-bottom: 30px;
  &__slide {
    padding: 55px 0 60px 0;
    background: url("../img/dots-slider.svg") no-repeat 2% 10%,
      url("../img/dots-slider.svg") no-repeat 98% 90%, #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &__post {
    margin-bottom: 15px;
    @include font-param("Gordita-Medium", 24px, #000000, 500, 120%);
  }

  &__firm {
    margin-bottom: 30px;
    @include font-param("Gordita-Medium", 36px, #0a2783, 500, 120%);
  }

  &__coment {
    max-width: 1100px;
    @include font-param("Gordita-Regular", 24px, #000000, 400, 140%);
  }
}
.slider-2 {
  border-top: 2px solid #0a2783;
  padding: 70px 0 90px 0;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 12px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    border: 20px solid transparent;
    border-top: 20px solid #0a2783;
  }
  &__slide {
    text-align: center;
    max-width: 100%;
    & img {
      filter: grayscale(1);
    }
  }
}

//===================БЛОК-6=====================

.mass-media {
  padding: 90px 0;

  &__title {
    color: #0a2783;
    margin-bottom: 55px;
  }

  &__slider {
    position: relative;
  }

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    & img {
      max-width: 100%;
    }
  }
}

//=====================БЛОК-7======================
.message {
  padding: 90px 0;
  background: url("../img/message-bg.svg") no-repeat 100% 80%,
    url("../img/dots-message.svg") no-repeat 100% 10%;

  &__title {
    color: #0a2783;
    margin-bottom: 60px;
    max-width: 870px;
  }

  &__column {
    max-width: 725px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  & input:not([type="submit"]),
  textarea {
    @include font-param("Gordita-Regular", 24px, #000000, 400, 140%);
  }
  & input:not([type="submit"])::placeholder,
  textarea::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  &__group {
    display: flex;
    margin-bottom: 30px;
  }
  &__name {
    border: 2px solid #0a2783;
    padding: 30px;
    margin-right: 30px;
    flex: 1 1 auto;
  }

  &__email {
    border: 2px solid #0a2783;
    padding: 30px;
    flex: 1 1 auto;
  }

  &__phone {
    border: 2px solid #0a2783;
    padding: 30px;
    margin-bottom: 30px;
  }

  &__letter {
    border: 2px solid #0a2783;
    padding: 30px;
    margin-bottom: 30px;
    min-height: 180px;
    resize: none;
  }

  &__submit {
    max-width: 420px;
    padding: 30px 0;
    @include font-param("Gordita-Medium", 24px, #ffffff, 500, 120%);
    background: #0a2783;
    &:hover {
      cursor: pointer;
    }
    margin-bottom: 20px;
  }

  &__sub {
    max-width: 450px;
    @include font-param("Gordita-Regular", 14px, rgba(0, 0, 0, 0.5), 400, 160%);
    & span {
      & a {
        color: #0a2783;
      }
    }
  }
}

/////////////////////////////////////////ПОДВАЛ САЙТА/////////////////////////////////////////////////////////////

@import "_footer";

/////////////////////////////////////////СЛАЙДЕР/////////////////////////////////////////////////////////////

@import "_slider";

//////////////////////////////////////МЕДИА-ЗАПРОСЫ///////////////////////////////////////////////////////////////

@import "_media";

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
